
<app-card header="ทสภ." isButton="false">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12 text-right">
          <button-add routerLink="/communi/communi0062detail"></button-add>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
            <thead class="text-center">
              <tr>
                <th> วันที่มีผล</th>
                <th>ประเภทบริการ</th>
                <th>จำนวนเงิน</th>
                <th> วันที่ปรับปรุง</th>
                <th>ปรับปรุงโดย </th>
                <th>หมายเหตุ</th>
                <th>แก้ไข</th>
                <th>ประวัติ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01-03-2019</td>
                <td>-</td>
                <td>10 บาท/หน่วย</td>
                <td>20/16/2019</td>
                <td>สมใจ ใจบุญ</td>
                <td align="center">
                  <button-icon routerLink="/customer/cus002" color="info"><i class="fa fa-search"
                      aria-hidden="true"></i></button-icon>
                </td>
                <td align="center">
                  <button-icon routerLink="/customer/cus002" color="info"><i class="fa fa-pencil-square-o"
                      aria-hidden="true"></i></button-icon>
                </td>
                <td align="center">
                  <button-icon routerLink="/customer/cus002" color="info"><i class="fa fa-history"
                      aria-hidden="true"></i></button-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>


    </div>
  </div>
</app-card>