<!-- <nav aria-label="breadcrumb ">
  <ul class="breadcrumb shadow">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
  </ul>
</nav> -->



<div class="row p-2">
  <!-- <div class="col-5">
    <div class="card" style="width: 26rem; padding-right: 30px">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Vestibulum at eros</li>
       
      </ul>
  
    </div>
  </div> -->
  <div class="col-12">
    <div class="row">
      <div class="col">
        <div class="card shadow rounded" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-address-card-o" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">View Contacts</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" style="width: 11rem;height: 9rem;" routerLink="/it/it001/">
          <div class="card-body text-center">
            <i class="fa fa-search" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">Search User</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-address-book-o" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">Account Info</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">View Messages</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-calendar" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">View Calendar</h6>
          </div>
        </div>
      </div>

    </div>


    <div class="row" style="margin-top: 15px">
      <div class="col">
        <div class="card shadow rounded" routerLink="/user/user" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-address-book-o" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">ผู้ใช้งาน</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" routerLink="/user/role" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-newspaper-o" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">สิทธิ์การใช้งาน</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" routerLink="/user/organize" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-building-o" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">หน่วยงาน</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" routerLink="/components/lov/" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-database" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px">รายการข้อมูล</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow rounded" routerLink="/components/constant/" style="width: 11rem;height: 9rem;">
          <div class="card-body text-center">
            <i class="fa fa-list" aria-hidden="true" style="font-size: 50px;color: #33759C;"></i>
            <h6 class="fonu" style="margin-top: 13px"> รายการConstant</h6>
          </div>
        </div>
      </div>
    </div>




  </div>


</div>