<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12 text-right">
          <button-add routerLink="/communi/communi005detail"></button-add>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
            <thead class="text-center">
              <tr>
                <th> ผู้ประกอบการ</th>
                <th>เลขที่สัญญา</th>
                <th>พื้นที่เช่า</th>
                <th>จำนวนที่ยกเลิก</th>
                <th>วันที่ยกเลิก </th>
                <th>เลขที่ใบแจ้งหนี้</th>
                <th>เลขที่ใบเสร็จ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Japan Airline</td>
                <td>JL</td>
                <td>
                  TH-BKK-AOB-05-01</td>
                <td align="center">
                  <button-icon color="info"><i class="fa fa-search" aria-hidden="true"></i></button-icon>
                </td>
                <td>15/01/2019</td>
                <td> 52000001</td>
                <td> 10000001</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>


    </div>
  </div>
</app-card>