<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<app-card header="ทสภ." isButton="false">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12 text-right">
          <button-add routerLink="/communi/communi001detail"></button-add>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <table id="datatable" class="table table-bordered table-striped table-sm" style="width:100%">
            <thead class="text-center">
              <tr>
                <th> ผู้ประกอบการ</th>
                <th>เลขที่สัญญา</th>
                <th>จำนวนวิทยุมือถือ</th>
                <th>อัตราค่าภาระ</th>
                <th>วันที่ขอใช้บริการ </th>
                <th>เลขที่ใบแจ้งหนี้</th>
                <th>เลขที่ใบเสร็จ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <td>AtosTH</td>
               <td>0001237</td>
               <td> 5 เครื่อง</td>
               <td>112,000.00 บาท</td>
               <td>29/08/2561 16:45</td>
               <td>52000001</td>
               <td>	10040805</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>


    </div>
  </div>
</app-card>